.DS_Store
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
docs/api/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
examples/plots/wavesol_residuals.png
examples/plots/WASP33_giano_CO_combined.png
examples/plots/WASP33-giano_positionsAB_ccf_CO.png
examples/plots/WASP189_giano_CO_combined.png
examples/plots/spectra_telluric_data_order48.png
examples/plots/reduction_routine_order48.0.png
examples/plots/giano_wavesol_order48.png
examples/plots/giano_OH_night1_posB/sysrem_evolution.png
examples/plots/giano_OH_night1_posB/sysrem-9.png
examples/plots/giano_OH_night1_posB/sysrem-8.png
examples/plots/giano_OH_night1_posB/sysrem-7.png
examples/plots/giano_OH_night1_posB/sysrem-6.png
examples/plots/giano_OH_night1_posB/sysrem-5.png
examples/plots/giano_OH_night1_posB/sysrem-4.png
examples/plots/giano_OH_night1_posB/sysrem-3.png
examples/plots/giano_OH_night1_posB/sysrem-2.png
examples/plots/giano_OH_night1_posB/sysrem-15.png
examples/plots/giano_OH_night1_posB/sysrem-14.png
examples/plots/giano_OH_night1_posB/sysrem-13.png
examples/plots/giano_OH_night1_posB/sysrem-12.png
examples/plots/giano_OH_night1_posB/sysrem-11.png
examples/plots/giano_OH_night1_posB/sysrem-10.png
examples/plots/giano_OH_night1_posB/sysrem-1.png
examples/plots/giano_OH_night1_posB/sysrem-0.png
examples/plots/giano_OH_night1_posB/output.mp4
examples/plots/giano_OH_night1_posB/output.gif
examples/plots/giano_OH_main_iso_night1_posB_center_sysrem9.png
examples/plots/giano_OH_main_iso_night1_posB_center_sysrem8.png
examples/plots/giano_OH_main_iso_night1_posB_center_sysrem7.png
examples/plots/giano_OH_main_iso_night1_posB_center_sysrem6.png
examples/plots/giano_OH_main_iso_night1_posB_center_sysrem5.png
examples/plots/giano_OH_main_iso_night1_posB_center_sysrem4.png
examples/plots/giano_OH_main_iso_night1_posB_center_sysrem3.png
examples/plots/giano_OH_main_iso_night1_posB_center_sysrem2.png
examples/plots/giano_OH_main_iso_night1_posB_center_sysrem14.png
examples/plots/giano_OH_main_iso_night1_posB_center_sysrem13.png
examples/plots/giano_OH_main_iso_night1_posB_center_sysrem12.png
examples/plots/giano_OH_main_iso_night1_posB_center_sysrem11.png
examples/plots/giano_OH_main_iso_night1_posB_center_sysrem10.png
examples/plots/giano_OH_main_iso_night1_posB_center_sysrem1.png
examples/plots/giano_OH_main_iso_night1_posB_center_sysrem0.png
examples/plots/giano_nightCO_positionsAB_ccf_2.png
examples/plots/giano_nightCO_positionsAB_ccf_1.png
examples/plots/giano_night2_positionsAB_ccf_newCOtemplate.png
examples/plots/giano_night1_positionsAB_reduction.png
examples/plots/giano_night1_positionsAB_ccf.png
examples/plots/giano_night1_positionsAB.png
examples/plots/giano_master_template_peaks_order49.png
examples/plots/giano_master_template_peaks_order48.png
examples/plots/giano_CO_posB/sysrem-7.png
examples/plots/giano_CO_night1_posB_wavesol/sysrem_evolution.png
examples/plots/giano_CO_night1_posB_wavesol/sysrem-6.png
examples/plots/giano_CO_night1_posB_wavesol/sysrem-5.png
examples/plots/giano_CO_night1_posB_wavesol/sysrem-4.png
examples/plots/giano_CO_night1_posB_wavesol/output.mp4
examples/plots/giano_CO_night1_posB_wavesol/output.gif
examples/plots/giano_CO_night1_posB_wavecal_nointerp/sysrem-9.png
examples/plots/giano_CO_night1_posB_wavecal_nointerp/sysrem-8.png
examples/plots/giano_CO_night1_posB_wavecal_nointerp/sysrem-7.png
examples/plots/giano_CO_night1_posB_wavecal_nointerp/sysrem-6.png
examples/plots/giano_CO_night1_posB_wavecal_nointerp/sysrem-5.png
examples/plots/giano_CO_night1_posB_wavecal_nointerp/sysrem-4.png
examples/plots/giano_CO_night1_posB_wavecal_nointerp/sysrem-3.png
examples/plots/giano_CO_night1_posB_wavecal_nointerp/sysrem-2.png
examples/plots/giano_CO_night1_posB_wavecal_nointerp/sysrem-15.png
examples/plots/giano_CO_night1_posB_wavecal_nointerp/sysrem-14.png
examples/plots/giano_CO_night1_posB_wavecal_nointerp/sysrem-13.png
examples/plots/giano_CO_night1_posB_wavecal_nointerp/sysrem-12.png
examples/plots/giano_CO_night1_posB_wavecal_nointerp/sysrem-11.png
examples/plots/giano_CO_night1_posB_wavecal_nointerp/sysrem-10.png
examples/plots/giano_CO_night1_posB_wavecal_nointerp/sysrem-1.png
examples/plots/giano_CO_night1_posB_wavecal_nointerp/sysrem-0.png
examples/plots/giano_CO_night1_posB_wavecal_nointerp/output.mp4
examples/plots/giano_CO_night1_posB_wavecal_nointerp/output.gif
examples/plots/giano_CO_night1_posB_wavecal/sysrem-9.png
examples/plots/giano_CO_night1_posB_wavecal/sysrem-8.png
examples/plots/giano_CO_night1_posB_wavecal/sysrem-7.png
examples/plots/giano_CO_night1_posB_wavecal/sysrem-6.png
examples/plots/giano_CO_night1_posB_wavecal/sysrem-5.png
examples/plots/giano_CO_night1_posB_wavecal/sysrem-4.png
examples/plots/giano_CO_night1_posB_wavecal/sysrem-3.png
examples/plots/giano_CO_night1_posB_wavecal/sysrem-2.png
examples/plots/giano_CO_night1_posB_wavecal/sysrem-14.png
examples/plots/giano_CO_night1_posB_wavecal/sysrem-13.png
examples/plots/giano_CO_night1_posB_wavecal/sysrem-12.png
examples/plots/giano_CO_night1_posB_wavecal/sysrem-11.png
examples/plots/giano_CO_night1_posB_wavecal/sysrem-10.png
examples/plots/giano_CO_night1_posB_wavecal/sysrem-1.png
examples/plots/giano_CO_night1_posB_wavecal/sysrem-0.png
examples/plots/giano_CO_night1_posB_wavecal/output.mp4
examples/plots/giano_CO_night1_posB_wavecal/output.gif
examples/plots/giano_CO_night1_posB_sysrem/output.mp4
examples/plots/giano_CO_night1_posB_sysrem/output.gif
examples/plots/giano_CO_night1_posB_sysrem/giano_CO_night1_posB_sysrem9.png
examples/plots/giano_CO_night1_posB_sysrem/giano_CO_night1_posB_sysrem8.png
examples/plots/giano_CO_night1_posB_sysrem/giano_CO_night1_posB_sysrem7.png
examples/plots/giano_CO_night1_posB_sysrem/giano_CO_night1_posB_sysrem6.png
examples/plots/giano_CO_night1_posB_sysrem/giano_CO_night1_posB_sysrem5.png
examples/plots/giano_CO_night1_posB_sysrem/giano_CO_night1_posB_sysrem4.png
examples/plots/giano_CO_night1_posB_sysrem/giano_CO_night1_posB_sysrem3.png
examples/plots/giano_CO_night1_posB_sysrem/giano_CO_night1_posB_sysrem2.png
examples/plots/giano_CO_night1_posB_sysrem/giano_CO_night1_posB_sysrem14.png
examples/plots/giano_CO_night1_posB_sysrem/giano_CO_night1_posB_sysrem13.png
examples/plots/giano_CO_night1_posB_sysrem/giano_CO_night1_posB_sysrem12.png
examples/plots/giano_CO_night1_posB_sysrem/giano_CO_night1_posB_sysrem11.png
examples/plots/giano_CO_night1_posB_sysrem/giano_CO_night1_posB_sysrem10.png
examples/plots/giano_CO_night1_posB_sysrem/giano_CO_night1_posB_sysrem1.png
examples/plots/giano_CO_night1_posB_sysrem/giano_CO_night1_posB_sysrem0.png
examples/plots/giano_CO_night1_posB_center_sysrem9.png
examples/plots/giano_CO_night1_posB_center_sysrem8.png
examples/plots/giano_CO_night1_posB_center_sysrem7.png
examples/plots/giano_CO_night1_posB_center_sysrem6.png
examples/plots/giano_CO_night1_posB_center_sysrem5.png
examples/plots/giano_CO_night1_posB_center_sysrem4.png
examples/plots/giano_CO_night1_posB_center_sysrem3.png
examples/plots/giano_CO_night1_posB_center_sysrem2.png
examples/plots/giano_CO_night1_posB_center_sysrem14.png
examples/plots/giano_CO_night1_posB_center_sysrem13.png
examples/plots/giano_CO_night1_posB_center_sysrem12.png
examples/plots/giano_CO_night1_posB_center_sysrem11.png
examples/plots/giano_CO_night1_posB_center_sysrem10.png
examples/plots/giano_CO_night1_posB_center_sysrem1.png
examples/plots/giano_CO_night1_posB_center_sysrem0.png
examples/plots/giano_CO_night1_posB_center/sysrem-9.png
examples/plots/giano_CO_night1_posB_center/sysrem-8.png
examples/plots/giano_CO_night1_posB_center/sysrem-7.png
examples/plots/giano_CO_night1_posB_center/sysrem-6.png
examples/plots/giano_CO_night1_posB_center/sysrem-5.png
examples/plots/giano_CO_night1_posB_center/sysrem-4.png
examples/plots/giano_CO_night1_posB_center/sysrem-3.png
examples/plots/giano_CO_night1_posB_center/sysrem-2.png
examples/plots/giano_CO_night1_posB_center/sysrem-15.png
examples/plots/giano_CO_night1_posB_center/sysrem-14.png
examples/plots/giano_CO_night1_posB_center/sysrem-13.png
examples/plots/giano_CO_night1_posB_center/sysrem-12.png
examples/plots/giano_CO_night1_posB_center/sysrem-11.png
examples/plots/giano_CO_night1_posB_center/sysrem-10.png
examples/plots/giano_CO_night1_posB_center/sysrem-1.png
examples/plots/giano_CO_night1_posB_center/sysrem-0.png
examples/plots/giano_CO_night1_posB_center/output.mp4
examples/plots/giano_CO_night1_posB_center/output.gif
examples/plots/giano_CO_night1_posB/sysrem_evolution.png
examples/plots/giano_CO_night1_posB/sysrem-9.png
examples/plots/giano_CO_night1_posB/sysrem-8.png
examples/plots/giano_CO_night1_posB/sysrem-7.png
examples/plots/giano_CO_night1_posB/sysrem-6.png
examples/plots/giano_CO_night1_posB/sysrem-5.png
examples/plots/giano_CO_night1_posB/sysrem-4.png
examples/plots/giano_CO_night1_posB/sysrem-3.png
examples/plots/giano_CO_night1_posB/sysrem-2.png
examples/plots/giano_CO_night1_posB/sysrem-16.png
examples/plots/giano_CO_night1_posB/sysrem-15.png
examples/plots/giano_CO_night1_posB/sysrem-14.png
examples/plots/giano_CO_night1_posB/sysrem-13.png
examples/plots/giano_CO_night1_posB/sysrem-12.png
examples/plots/giano_CO_night1_posB/sysrem-11.png
examples/plots/giano_CO_night1_posB/sysrem-10.png
examples/plots/giano_CO_night1_posB/sysrem-1.png
examples/plots/giano_CO_night1_posB/sysrem-0.png
examples/plots/giano_CO_night1_posB/output.mp4
examples/plots/giano_CO_night1_posB/output.gif
examples/plots/giano_CO_night1_posA_wavecal_nointerp/sysrem-5.png
examples/plots/giano_CO_night1_posA_wavecal/sysrem-9.png
examples/plots/giano_CO_night1_posA_wavecal/sysrem-8.png
examples/plots/giano_CO_night1_posA_wavecal/sysrem-7.png
examples/plots/giano_CO_night1_posA_wavecal/sysrem-6.png
examples/plots/giano_CO_night1_posA_wavecal/sysrem-5.png
examples/plots/giano_CO_night1_posA_wavecal/sysrem-4.png
examples/plots/giano_CO_night1_posA_wavecal/sysrem-3.png
examples/plots/giano_CO_night1_posA_wavecal/sysrem-2.png
examples/plots/giano_CO_night1_posA_wavecal/sysrem-14.png
examples/plots/giano_CO_night1_posA_wavecal/sysrem-13.png
examples/plots/giano_CO_night1_posA_wavecal/sysrem-12.png
examples/plots/giano_CO_night1_posA_wavecal/sysrem-11.png
examples/plots/giano_CO_night1_posA_wavecal/sysrem-10.png
examples/plots/giano_CO_night1_posA_wavecal/sysrem-1.png
examples/plots/giano_CO_night1_posA_wavecal/sysrem-0.png
examples/plots/giano_CO_night1_posA_wavecal/output.mp4
examples/plots/giano_CO_night1_posA_wavecal/output.gif
examples/plots/giano_CO_night1_posA/sysrem_evolution.png
examples/plots/giano_CO_night1_posA/sysrem-9.png
examples/plots/giano_CO_night1_posA/sysrem-8.png
examples/plots/giano_CO_night1_posA/sysrem-7.png
examples/plots/giano_CO_night1_posA/sysrem-6.png
examples/plots/giano_CO_night1_posA/sysrem-5.png
examples/plots/giano_CO_night1_posA/sysrem-4.png
examples/plots/giano_CO_night1_posA/sysrem-3.png
examples/plots/giano_CO_night1_posA/sysrem-2.png
examples/plots/giano_CO_night1_posA/sysrem-15.png
examples/plots/giano_CO_night1_posA/sysrem-14.png
examples/plots/giano_CO_night1_posA/sysrem-13.png
examples/plots/giano_CO_night1_posA/sysrem-12.png
examples/plots/giano_CO_night1_posA/sysrem-11.png
examples/plots/giano_CO_night1_posA/sysrem-10.png
examples/plots/giano_CO_night1_posA/sysrem-1.png
examples/plots/giano_CO_night1_posA/sysrem-0.png
examples/plots/giano_CO_night1_posA/output.mp4
examples/plots/giano_CO_night1_posA/output.gif
examples/plots/CO_template_uniform_wasp189.png
examples/data/WASP33.dat
examples/data/WASP189.dat
examples/data/spectra_harpsn.fits
*.fits
docs/source/notebooks/data/datacube_reduced_orders30-41.npy
